.input{

   img{
      position: absolute;
      margin-left: 1rem;
   }
}

input[type="number"]{
   // max-width: 376px;
   width: 100%;
   padding: 1rem 0 1rem 0;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   text-align: right;
   color: $dark-cyan;
   border: none;
   border: 2px solid $light-grayish-cyan;
   background: $light-grayish-cyan;
   outline: none;
}

::placeholder{
   font-family: $font-family;
   font-size: 24px;
   color: $dark-grayish-cyan;
   text-align: center;
}

input:focus{
   border:2px solid $strong-cyan;
}

label, .select-tip-title{
   color: $dark-grayish-cyan;
}

.tip-percentage-block{
   padding: 2.8125rem 0;

   .tip-percentage{

      .tip-block{
         background: $dark-cyan;
         border-radius: 5px;
         -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
         -ms-border-radius: 5px;
         -o-border-radius: 5px;
         min-height: 48px;

         &:hover,&:focus{
            cursor: pointer;
            background: $strong-cyan;

            p{
               color: $dark-cyan;
            }
         }
      }

      p{
         padding: 1rem 0;
         font-size: 24px;
         color: $white;
      }
   }

   .custom-tip-block{
      label{
         position: fixed;
         right: -100%;
         display: none;
      }
   }
}

.bill-amount-input, .person-input {
   ::placeholder{
      text-align: right;
   }
}